.MC_box5 {
  width: 860px;
  height: 21.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

/* 바로가기1 */

/* 바로가기1 */
.link {
  display: flex;
  height: 100%;
  align-items: center;
}

.link .titTab {
  width: 9.8rem;
  background: #f6f6f6;
  height: 100%;
  padding-top: 1.75rem;
}

.link .titTab ul li a {
  line-height: 3rem;
  display: inline-block;
  position: relative;
  padding-left: 2.5rem;
  font-size: 1rem;
  color: #000;
}

.link .tabWrap {
  width: calc(100% - 9.8rem);
  padding-top: 2.4rem;
  height: 100%;
  background: url(/upload/cntntsFile/uimoa/img_14f63c53-1120-42ff-9dc6-8547570ed9011716450096537.png) no-repeat center / cover;
}

.link .list_box {
  display: none;
}

.link .list_box ul {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.link .list_box ul li {
  width: 25%;
  text-align: center;
}

.link .list_box ul li:nth-child(n+5) {
  margin-top: 1.2rem;
}

.link .list_box ul li:nth-child(n+9) {
  display: none;
}

.link .list_box ul li a .img {
  position: relative;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.7rem;
}

.link .list_box ul li a .img::before {
  content: '\e929';
  font-family: 'xeicon';
  font-size: 1rem;
  color: #fff;
  text-align: center;
  line-height: 1.25rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #a40e17;
  position: absolute;
  top: -0.625rem;
  left: calc(50% - 0.625rem);
  opacity: 0;
}

.link .list_box ul li a .txt {
  height: 2rem;
  overflow: hidden;
  line-height: 1rem;
}

.link .list_box ul li a .txt span {
  color: #111;
  line-height: 1rem;
  font-size: 0.8rem;
}

/** 바로가기1 :active **/
.link .titTab ul li a,
.link .list_box ul li a .img,
.link .list_box ul li a .img::before,
.link .list_box ul li span {
  transition: all 0.15s;
  transition: all 0.15s;
}

.link .titTab ul li a.current {
  width: 9rem;
  font-weight: 600;
  color: #fff;
  background: #a40e17;
  border-radius: 0.5rem;
  padding-left: 3.2rem;
  transform: translateX(2.5rem);
  -webkit-transform: translateX(2.5rem);
  z-index: 1;
}

.link .titTab ul li a:not(.current):hover,
.link .titTab ul li a:not(.current):focus {
  font-weight: 600;
  color: #a40e17;
}

.link .titTab ul li a.current::before {
  content: '';
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 1.5rem;
  top: calc(50% - 0.2rem);
}

.link .list_box.on {
  display: block;
}

.link .list_box ul li a:hover .img,
.link .list_box ul li a:focus .img {
  border-color: #a40e17;
  box-shadow: none;
}

.link .list_box ul li a:hover .img::before,
.link .list_box ul li a:focus .img::before {
  opacity: 1;
}

.link .list_box ul li a:hover .txt span,
.link .list_box ul li a:focus .txt span {
  box-shadow: inset 0 -10px 0 rgba(164, 14, 23, 0.15);
  font-weight: 600;
}